{% extends 'base.html.twig' %}

{% block body %}
    <h1>Channel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ channel.id }}</td>
            </tr>
            <tr>
                <th>Idkazer</th>
                <td>{{ channel.idKazer }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ channel.ordre }}</td>
            </tr>
            <tr>
                <th>Added</th>
                <td>{% if channel.added %}{{ channel.added|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ channel.name }}</td>
            </tr>
            <tr>
                <th>Codetv</th>
                <td>{{ channel.codeTV }}</td>
            </tr>
            <tr>
                <th>Codezappette</th>
                <td>{{ channel.codeZappette }}</td>
            </tr>
            <tr>
                <th>Imageb64</th>
                <td>{{ channel.imageB64 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_channel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_channel_edit', { 'id': channel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
