{% extends 'base.html.twig' %}

{% block body %}
    <h1>ModuleNotify</h1>

    <table>
        <tbody>
            <tr>
                <th>Created</th>
                <td>{% if moduleNotify.created %}{{ moduleNotify.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ moduleNotify.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ moduleNotify.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_domotique_module_notify_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_domotique_module_notify_edit', { 'id': moduleNotify.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
