{% extends 'base.html.twig' %}

{% block body %}
    <h1>SensorType</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sensorType.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ sensorType.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_domotique_sensor_type_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_domotique_sensor_type_edit', { 'id': sensorType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
