{% extends 'FrondOfficeBundle:MetronicWebApp:body-page-content.html.twig' %}

{% block moreCss %}

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    {% stylesheets
    '@BackOfficeBundle/Resources/public/assets/global/plugins/tinycolorpicker/tinycolorpicker.css'
    output='assets/global/plugins/tinycolorpicker/tinycolorpicker.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
    {% stylesheets
    '@BackOfficeBundle/Resources/public/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css'
    output='assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
    {% stylesheets
    '@BackOfficeBundle/Resources/public/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css'
    output='assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}

    {% stylesheets
    '@BackOfficeBundle/Resources/public/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
    output='assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}

    <!-- END PAGE LEVEL PLUGINS -->

{% endblock moreCss %}
{% block moreJs %}
    {% javascripts
    '@BackOfficeBundle/Resources/public/assets/global/plugins/jquery-ui/jquery-ui.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
    '@BackOfficeBundle/Resources/public/assets/global/plugins/moment.min.js'
    '@BackOfficeBundle/Resources/public/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
    '@BackOfficeBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'
    '@BackOfficeBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts
    '@BackOfficeBundle/Resources/public/assets/global/plugins/tinycolorpicker/jquery.tinycolorpicker.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function () {

            $(function () {
                $('form').on('submit', function (e) {
                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                        beforeSend: function () {
                            uiNotific('smoke', false, "en cours");
                        },
                        success: function (data) {
                            if (data.query == 'sucess') {
                                uiNotific('lime', false, data.query);
                                location.reload();
                            } else {
                                uiNotific('tangerine', true, data.query);
                            }
                        },
                        error: function (data) {
                            uiNotific('tangerine', true, "error", data.query);
                        }
                    });
                    e.preventDefault();
                });
            });

            $(function () {
                $('#scheduled_task_start').datetimepicker({
                    todayBtn: "true",
                    format: "dd/mm/yy hh:ii",
                    autoclose: "true",
                    pickerPosition: "bottom-left",
//                startView:"week",
                    minView: "hour",
                    language: "fr"
                });
                $('#scheduled_task_stop').datetimepicker({
                    todayBtn: "true",
                    format: "dd/mm/yy hh:ii",
                    autoclose: "true",
                    pickerPosition: "bottom-left",
//                startView:"day",
                    minView: "hour",
                    language: "fr"
                });

            });

            var $box = $('.TinyColorConteneur');
            $box.tinycolorpicker();

            $box.bind("change", function () {
                var selectedValue = $(this).find(".colorInput").val();
                var moduleID = $(this).find(".modAdresse").val();
                var dataJson = '[' + '{"module":"' + moduleID + '"},' + '{"path":"color"},' + '{"color":"' + selectedValue + '"}' + ']';

                // ajax
                $.ajax({
                    data: 'data=' + dataJson,
                    cache: false,
                    type: 'POST',
                    url: '{{ path ('domotique_module_set_color') }}',
                    success: function (data) {
                        console.log(data)
                    }
                });
                //end ajax

            });

        });
    </script>
{% endblock moreJs %}

{% set title_page = 'les modules' %}

{% block content_txt %}

    {% for emplacement in emplacements %}
        {#
           si annonyme et que la valeur n'est pas "test"
           ou qu'on est authentifié
           on affiche le titre "test"
        #}
        {% if (is_granted('IS_AUTHENTICATED_ANONYMOUSLY') and emplacement.public == true) or is_granted('IS_AUTHENTICATED_FULLY') %}

            <div class="row">
                <div class="col-md-12">
                    {#<!-- BEGIN Portlet PORTLET-->#}
                    <div class="portlet box blue-steel">
                        <div class="portlet-title">
                            <div class="caption">
                                {#<i class="fa fa-gift"></i>#}
                                {{ emplacement.name }} </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"> </a>
                                {#<a href="#portlet-config" data-toggle="modal" class="config"> </a>#}
                                {#<a href="javascript:;" class="reload"> </a>#}
                                {#<a href="" class="fullscreen"> </a>#}
                                {#<a href="javascript:;" class="remove"> </a>#}
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                {% for module in modules %}
                                    {% if  emplacement.name == module.emplacement %}

                                        {% include 'DomotiqueDomoboxBundle:ui_module:' ~ module.nom_sonde ~ '.html.twig' with {'foo': 'bar'} %}

                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {#<!-- END Portlet PORTLET-->#}
                </div>
            </div>

        {% endif %}
    {% endfor %}
{% endblock content_txt %}
