<div class="col-md-2 col-sm-4 col-xs-6">
    {#<!-- BEGIN Portlet module -->#}
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                {#<i class="fa fa-gift"></i>#}
                {{ module.name }} </div>
            <div class="tools">
                <a href="#responsive" data-toggle="modal" class="config"></a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="scroller" style="height:100px" data-rail-visible="1"
                 data-rail-color="yellow" data-handle-color="#a1b2bd">

                <div class="TinyColorConteneur">
                    <a class="color">
                        <div class="colorInner"></div>
                    </a>
                    <div class="track"></div>
                    <ul class="dropdown">
                        <li></li>
                    </ul>
                    <input type="hidden" class="colorInput"/>
                    <input type="hidden" class="modAdresse" value="{{ module.ipv4 }}"/>
                </div>

                {#{{ module.sonsor_value }}#}
                {#{{ module.unitee_symbole }}#}

                {#{{ dump(module) }}#}
            </div>
        </div>
        {#<!-- END Portlet PORTLET-->#}
    </div>
</div>

{{ render(controller('DomotiqueDomoboxBundle:ScheduledTask:new')) }}

{% javascripts
'@BackOfficeBundle/Resources/public/assets/global/plugins/jquery.min.js'
'@BackOfficeBundle/Resources/public/assets/global/plugins/bootstrap/js/bootstrap.min.js'
'@BackOfficeBundle/Resources/public/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}


<script type="text/javascript">
    $(document).ready(function () {

//        change le select avec le module selectionner
        $(function () {
            $('#scheduled_task_module option[value="{{ module.module_ID }}"]').prop('selected', true);
        });
    });
</script>
