{% trans_default_domain 'ddaBundle' %}

{% extends '@ddaBundleFront/Default/index.html.twig' %}

{% block content_txt %}
    <div class="row">
        <div class="col-sm-4">
            {{ app.request.locale }}
        </div>
        <div class="col-sm-4">
            {{ render(controller('ddaBundleFrontBundle:Artiste:accueil')) }}
        </div>
        <div class="col-sm-4">
            {{ render(controller('ddaBundleFrontBundle:Video:accueil')) }}
        </div>
    </div>
    <div class="row border">
        <div class="col-sm-4">
            {{ render(controller('ddaBundleFrontBundle:Actualite:accueil')) }}
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            {{ render(controller('ddaBundleFrontBundle:Texte:accueil')) }}
        </div>
    </div>

{% endblock content_txt %}
