{% trans_default_domain 'ddaBundle' %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% stylesheets
    '@BackOfficeBundle/Resources/public/assets/global/plugins/font-awesome/css/font-awesome.min.css'
    output='assets/global/plugins/font-awesome/css/font-awesome.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}

    {% stylesheets
    '@BackOfficeBundle/Resources/public/assets/global/plugins/entypo/css/entypo.css'
    output='assets/global/plugins/entypo/css/entypo.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}

    {% stylesheets
    '@BackOfficeBundle/Resources/public/assets/global/plugins/uniform/css/uniform.default.min.css'
    output='assets/global/plugins/uniform/css/uniform.default.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}

    <!-- Bootstrap Core CSS -->
    {% stylesheets
    '@BackOfficeBundle/Resources/public/assets/global/plugins/bootstrap/css/bootstrap.min.css'
    output='assets/global/plugins/bootstrap/css/bootstrap.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}

    {% stylesheets
    '@BackOfficeBundle/Resources/public/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css'
    output='assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}

    {% stylesheets filter='cssrewrite'
    '@ddaBundleBackBundle/Resources/public/css/font.css'
    '@ddaBundleBackBundle/Resources/public/css/defaut.css'
    '@ddaBundleBackBundle/Resources/public/css/alphabet.css'
    output='bundles/ddabundleback/css/defaut.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}

</head>

<body>

<div class="container">
    <div class="nav-side-menu row ontop">
        <div class="col-sm-12">
            <div class="brand col-sm-5">
                <a href="{{ path('front_office_homepage') }}">
                    <img src="http://dda-aquitaine.org/images/ddaa-logo.png"
                         alt="{{ "logo Documents d'artistes Aquitaine"|trans }}">
                </a>
                <p>{{ "documents d'artistes"|trans }}<br>{{ "aquitaine"|trans }}</p>
            </div>

            <i class="fa fa-plus-square-o fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
            <div class="menu-list col-sm-7">

                <ul id="menu-content" class="menu-content collapse out columns">

                    <li><a href="{{ path('front_office_homepage') }}">{{ "accueil"|trans }}</a></li>
                    <li><a href="#">{{ "presentation"|trans }}</a></li>
                    <li>
                        <a href="{{ path('front_office_page_statique_show', { 'slug': "partenaires" }) }}">{{ "partenaires"|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('front_office_page_statique_show', { 'slug': "reseau" }) }}">{{ "reseau"|trans }}</a>
                    </li>
                    <li><a href="#">{{ "contact"|trans }}</a></li>
                    <li>
                        <a href="{{ path('front_office_page_statique_show', { 'slug': "liens" }) }}">{{ "liens"|trans }}</a>
                    </li>
                    {##}
                    <li class="jump">
                        <a href="{{ path('dda_bundle_front_artiste_all') }}">{{ "dossiers d'artistes"|trans }}</a>
                    </li>
                    <li><a href="#">{{ "textes"|trans }}</a></li>
                    <li><a href="{{ path('front_office_video') }}">{{ "entretiens video"|trans }}</a></li>
                    <li class="espaceTop"><a href="#">{{ "etudes et recherches"|trans }}</a></li>
                    <li class="eac"><a href="#">
                            {% image '@ddaBundleFrontBundle/Resources/public/images/eac_logo_menu.gif' %}
                            <img src="{{ asset_url }}" alt="{{ 'eac'|trans }}" class="logo-default"/>
                            {% endimage %}
                        </a></li>
                    {##}
                    <li class="jump"><a href="#">{{ "liste des artistes"|trans }}</a></li>
                    <li class="jump" style="text-align: right">fr-en</li>

                </ul>
            </div>
        </div>
    </div>
    {# barre aphabetique #}
    <div class="row">
        <ul id="menu_alphabet">
        {% for i in range('A', 'Z') %}
            {% if AlphabetBar.notActived(i)|length > 0 %}
                <li>
                <a href="#" data="{{ path('front_office_artiste_sss', { 'lettre': i}) }}"
                   data-toggle="modal">{{ i }}</a></li>
            {% else %}
            <li>{{ i }}</li>
            {% endif %}
            {#{{ AlphabetBar.notActived(i)|raw }}#}
        {% endfor %}
        </ul>
        <!-- Small modal -->
        {#<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button>#}


    </div>
    {#
    premiere ligne
    actualité
    lkiste ariste
    video ramdon
    #}
    <div class="row">
        <div class="col-sm-4">a {{ app.request.locale }}</div>
        <div class="col-sm-4">
            {% include '@ddaBundleFront/Artiste/accueil.html.twig' %}
        </div>
        <div class="col-sm-4">c</div>
    </div>
    <div class="row">
        <div class="col-sm-4">lslsl</div>
        <div class="col-sm-4">
            d<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="col-sm-4">e</div>
    </div>
    <div class="row">
        <div class="col-sm-12">Documents d'artistes Aquitaine - 2016 Design : Docile - Réalisé par web-setup.com</div>
    </div>

</div>

<!-- BEGIN CORE PLUGINS -->
{% javascripts
'@BackOfficeBundle/Resources/public/assets/global/plugins/jquery.min.js'
'@BackOfficeBundle/Resources/public/assets/global/plugins/bootstrap/js/bootstrap.min.js'
'@BackOfficeBundle/Resources/public/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'
'@BackOfficeBundle/Resources/public/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
'@BackOfficeBundle/Resources/public/assets/global/plugins/jquery.blockui.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<!-- END CORE PLUGINS -->
{% javascripts
'@BackOfficeBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'
'@BackOfficeBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    $(document).ready(function () {

        $('[data-toggle="modal"]').click(function (e) {

//        }
            var url = $(this).attr('data');
            $.get(url, function (data) {
                $(data).modal(

                );
//                modal.on("hidden.bs.modal", function () {
//                    $(this).remove();
//                });
            });
        });

    });
</script>
</body>
</html>
