{% extends 'BackOfficeBundle:Metronic:body-page-content-managed_datatables.html.twig' %}
{% trans_default_domain 'AppBundleMessage' %}

{% set title_page = 'Les pages des dossiers' %}
{% set path_entity_new = 'admin_artiste_dossier_new' %}
{% set table_size = 'col-md-12' %}{# col-md-6 col-sm-12#}

{% block content_txt %}
<tr>
    <th>Artiste</th>
    <th>Titre</th>
    <th>Publier</th>
    <th>Actions</th>
</tr>
</thead>
<tbody>
{% for category in dossiers %}
    <tr>
        <td>{{ category.artiste.prenom }} {{ category.artiste.nom }}</td>
        <td>{{ category.titre }}</td>
        <td>{% if category.active %}Yes{% else %}No{% endif %}</td>
        <td>
            <div class="btn-group btn-group-xs btn-group-solid">
                <a class="btn red"
                   href="{{ path('admin_artiste_dossier_show', { 'id': category.id }) }}">{{ 'show'|trans }}</a>
                <a class="btn green"
                   href="{{ path('admin_artiste_dossier_edit', { 'id': category.id }) }}">{{ 'edit'|trans }}</a>
                <a class="btn yellow modal-delete"
                   data-href="{{ path('admin_artiste_dossier_delete', { 'id': category.id }) }}"
                   href="{{ path('admin_artiste_dossier_delete', { 'id': category.id }) }}">{{ 'delete'|trans }}</a>
            </div>
        </td>
    </tr>
{% endfor %}
{% endblock content_txt %}
