
{% block body %}
    <h1>Dossier</h1>

    <table>
        <tbody>
            <tr>
                <th>Slug</th>
                <td>{{ dossier.slug }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ dossier.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if dossier.created %}{{ dossier.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if dossier.updated %}{{ dossier.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ dossier.ordre }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ dossier.titre }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ dossier.image }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ dossier.contenu }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if dossier.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Titreview</th>
                <td>{% if dossier.titreView %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_artiste_dossier_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_artiste_dossier_edit', { 'id': dossier.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
