{% block body %}
    <h1>Artiste</h1>

    <table>
        <tbody>
            <tr>
                <th>Slug</th>
                <td>{{ artiste.slug }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ artiste.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if artiste.created %}{{ artiste.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if artiste.updated %}{{ artiste.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datedenaissance</th>
                <td>{% if artiste.dateDeNaissance %}{{ artiste.dateDeNaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datededeces</th>
                <td>{% if artiste.dateDeDeces %}{{ artiste.dateDeDeces|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Collectif</th>
                <td>{{ artiste.collectif }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ artiste.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ artiste.prenom }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ artiste.rue }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ artiste.ville }}</td>
            </tr>
            <tr>
                <th>Postepostale</th>
                <td>{{ artiste.postePostale }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ artiste.telephone }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ artiste.fax }}</td>
            </tr>
            <tr>
                <th>Portable</th>
                <td>{{ artiste.portable }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ artiste.mail }}</td>
            </tr>
            <tr>
                <th>Site</th>
                <td>{{ artiste.site }}</td>
            </tr>
            <tr>
                <th>Motecle</th>
                <td>{{ artiste.moteCle }}</td>
            </tr>
            <tr>
                <th>Lieutravail</th>
                <td>{{ artiste.lieuTravail }}</td>
            </tr>
            <tr>
                <th>Dep</th>
                <td>{{ artiste.dep }}</td>
            </tr>
            <tr>
                <th>Lieunaissance</th>
                <td>{{ artiste.lieuNaissance }}</td>
            </tr>
            <tr>
                <th>Nationalite</th>
                <td>{{ artiste.nationalite }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if artiste.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Lieudeces</th>
                <td>{{ artiste.lieuDeces }}</td>
            </tr>
            <tr>
                <th>Paysmort</th>
                <td>{{ artiste.paysMort }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_artiste_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_artiste_edit', { 'id': artiste.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
