{% trans_default_domain 'AppBundleMessage' %}

{# gestion des avatars #}
{% if app.user.avatar is defined and app.user.avatar != "" %}
    {% if app.user.avatar is defined %}
        {% set avatar = app.user.avatar %}
    {% endif %}
{% else %}
    {% image '@BackOfficeBundle/Resources/public/assets/layouts/layout/img/avatar.png' %}
    {% set avatar = asset_url %}
    {% endimage %}
{% endif %}

{#<!-- BEGIN USER PROFILE -->#}
<div class="btn-group-img btn-group">
    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <img src="{{ avatar }}" alt="" class="img-circle"/>
       </button>
    <ul class="dropdown-menu-v2" role="menu">

        {% if is_granted('ROLE_USER') %}
        <li>
            <a href="{{ path('back_office_homepage') }}">
                <i class="icon-home"></i> {{ 'Dashboard'|trans }}
            </a>
        </li>        <li>
            <a href="{{ path('fos_user_profile_show') }}">
                <i class="icon-user"></i> {{ 'My Profile'|trans }}
            </a>
        </li>
        {#<li>#}
        {#<a href="app_calendar.html">#}
        {#<i class="icon-calendar"></i> My Calendar </a>#}
        {#</li>#}
        {#<li>#}
        {#<a href="app_inbox.html">#}
        {#<i class="icon-envelope-open"></i> My Inbox#}
        {#<span class="badge badge-danger"> 3 </span>#}
        {#</a>#}
        {#</li>#}
        {#<li>#}
        {#<a href="app_todo_2.html">#}
        {#<i class="icon-rocket"></i> My Tasks#}
        {#<span class="badge badge-success"> 7 </span>#}
        {#</a>#}
        {#</li>#}
        <li class="divider"> </li>
        {#<li>#}
            {#<a href="page_user_lock_1.html">#}
                {#<i class="icon-lock"></i> {{ 'Lock Screen'|trans }}</a>#}
        {#</li>#}
        <li>
            <a href="{{ path('fos_user_security_logout') }}">
                <i class="icon-key"></i> {{ 'Log Out'|trans }}  </a>
        </li>
        {% else %}
            <li>
                <a href="{{ path('fos_user_security_login') }}">
                    <i class="icon-user"></i> {{ 'login'|trans }}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
{#<!-- END USER PROFILE -->#}
</div>
